In [0]:
import pandas as pd
import numpy as np

In [0]:
from google.colab import files
files.upload()

!mkdir ~p ~/.kaggle
!cp kaggle.json ~/.kaggle/

!chmod 600 ~/.kaggle/kaggle.json

!kaggle datasets download -d grouplens/movielens-20m-dataset

from zipfile import ZipFile
file_name="movielens-20m-dataset.zip"

with ZipFile(file_name,'r') as zip:
  zip.extractall()
  print('done')

Saving kaggle.json to kaggle.json
Downloading movielens-20m-dataset.zip to /content
 95% 185M/195M [00:01<00:00, 128MB/s]
100% 195M/195M [00:01<00:00, 145MB/s]
done

In [0]:
movies_df = pd.read_csv('movie.csv',usecols=['movieId','title'],dtype={'movieId': 'int32', 'title': 'str'})
movies_df.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [0]:
rating_df=pd.read_csv('rating.csv',usecols=['userId', 'movieId', 'rating'],dtype={'userId': 'int32', 'movieId': 'int32', 'rating': 'float32'})
rating_df.head()

   userId  movieId  rating
0       1        2     3.5
1       1       29     3.5
2       1       32     3.5
3       1       47     3.5
4       1       50     3.5

In [0]:
df = pd.merge(rating_df,movies_df,on='movieId')
df.head()
df.shape

df['title'].isna().sum()
# no null values

(20000263, 4)

In [0]:
combine_movie_rating = df.dropna(axis = 0, subset = ['title'])
combine_movie_rating.head()

   userId  movieId  rating           title
0       1        2     3.5  Jumanji (1995)
1       5        2     3.0  Jumanji (1995)
2      13        2     3.0  Jumanji (1995)
3      29        2     3.0  Jumanji (1995)
4      34        2     3.0  Jumanji (1995)

In [0]:
movie_ratingCount = (combine_movie_rating.
     groupby('title')['rating'].count().reset_index().rename(columns = {'rating': 'totalRatingCount'})
     [['title', 'totalRatingCount']])

movie_ratingCount.head()

                                               title  totalRatingCount
0  #chicagoGirl: The Social Network Takes on a Di...                 3
1                                 $ (Dollars) (1971)                24
2                                    $5 a Day (2008)                39
3                                       $9.99 (2008)                55
4                     $ellebrity (Sellebrity) (2012)                 2

In [0]:
rating_with_totalRatingCount = combine_movie_rating.merge(movie_ratingCount, left_on = 'title', right_on = 'title', how = 'left')
rating_with_totalRatingCount.head()

   userId  movieId  rating           title  totalRatingCount
0       1        2     3.5  Jumanji (1995)             22243
1       5        2     3.0  Jumanji (1995)             22243
2      13        2     3.0  Jumanji (1995)             22243
3      29        2     3.0  Jumanji (1995)             22243
4      34        2     3.0  Jumanji (1995)             22243

In [0]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
print(movie_ratingCount['totalRatingCount'].describe())

count   26729.000
mean      748.261
std      3086.673
min         1.000
25%         3.000
50%        18.000
75%       205.000
max     67310.000
Name: totalRatingCount, dtype: float64

In [0]:
popularity_threshold = int(movie_ratingCount['totalRatingCount'].quantile(0.8323))  # quantile(0.8323) is equal to 500
# so we carry further analysis for only those movies which are viewed for atleast 500 times

rating_popular_movie= rating_with_totalRatingCount.query('totalRatingCount >= @popularity_threshold')
rating_popular_movie.head()

rating_with_totalRatingCount.shape[0]-rating_popular_movie.shape[0]  # 1282264 movies are filtered out as

   userId  movieId  rating           title  totalRatingCount
0       1        2   3.500  Jumanji (1995)             22243
1       5        2   3.000  Jumanji (1995)             22243
2      13        2   3.000  Jumanji (1995)             22243
3      29        2   3.000  Jumanji (1995)             22243
4      34        2   3.000  Jumanji (1995)             22243

In [0]:
rating_popular_movie.shape

## First lets create a Pivot matrix

movie_features_df=rating_popular_movie.pivot_table(index='title',columns='userId',values='rating').fillna(0)
movie_features_df.head()

userId                          1       2       3       ...  138491  138492  138493
title                                                   ...
'Til There Was You (1997)        0.000   0.000   0.000  ...   0.000   0.000   0.000
'burbs, The (1989)               0.000   0.000   0.000  ...   0.000   0.000   0.000
(500) Days of Summer (2009)      0.000   0.000   0.000  ...   0.000   0.000   0.000
*batteries not included (1987)   0.000   0.000   0.000  ...   0.000   0.000   0.000
...And Justice for All (1979)    0.000   0.000   0.000  ...   0.000   0.000   0.000

[5 rows x 138493 columns]

In [0]:
from scipy.sparse import csr_matrix

movie_features_df_matrix = csr_matrix(movie_features_df.values)

from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(movie_features_df_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [0]:
movie_features_df.shape

(4489, 138493)

In [0]:
query_index = np.random.choice(movie_features_df.shape[0])
print(query_index)
distances, indices = model_knn.kneighbors(movie_features_df.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)

userId
1        0.000
2        0.000
3        0.000
4        0.000
5        0.000
          ...
138489   0.000
138490   0.000
138491   0.000
138492   0.000
138493   0.000
Name: Chopper (2000), Length: 138493, dtype: float32

In [0]:
movie_features_df.head()

userId                          1       2       3       ...  138491  138492  138493
title                                                   ...
'Til There Was You (1997)        0.000   0.000   0.000  ...   0.000   0.000   0.000
'burbs, The (1989)               0.000   0.000   0.000  ...   0.000   0.000   0.000
(500) Days of Summer (2009)      0.000   0.000   0.000  ...   0.000   0.000   0.000
*batteries not included (1987)   0.000   0.000   0.000  ...   0.000   0.000   0.000
...And Justice for All (1979)    0.000   0.000   0.000  ...   0.000   0.000   0.000

[5 rows x 138493 columns]

In [0]:
##  getting top 5 recommendations for t

for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(movie_features_df.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, movie_features_df.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for Chopper (2000):

1: Romper Stomper (1992), with distance of 0.7822601795196533:
2: Castle, The (1997), with distance of 0.8112831711769104:
3: Sexy Beast (2000), with distance of 0.831024706363678:
4: Narc (2002), with distance of 0.8317389488220215:
5: Bad Santa (2003), with distance of 0.8322339653968811: